<div class="row">
    <div class="col" *ngFor="let curso of cursos">
        <div class="card" *ngIf="curso.estado == true" style="width: 18rem;">
            <img [src]="curso.img" class="card-img-top">
            <div class="card-body">
                <p class="card-text">{{curso.nombre}}</p>
            </div>
        </div>
        <button *ngIf="curso.estado == false" type="button" (click)="curso.estado = !curso.estado" class=" btn btn-dark "> Inscribirse a {{curso.nombre}}  </button>
        <button *ngIf="curso.estado == true " type="button" (click)="curso.estado = !curso.estado" class=" btn btn-danger "> Darse de Baja de {{curso.nombre}} </button>
    </div>
</div>